<div class="col-md-12">
 <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default custom-header">
                    <div class="container-fluid">
                        <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">Inicio</a>
                            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-collapse">
                            <ul class="nav navbar-nav links">
                                <li role="presentation"><a href="#">Overview </a></li>
                                <li role="presentation"><a href="#">Surveys </a></li>
                                <li role="presentation"><a href="#"> Reports</a></li>
                                <li role="presentation"><a href="#" class="custom-navbar"> Roles<span class="badge">new</span></a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"> <span class="caret"></span><img src="assets/img/avatar.jpg" class="dropdown-image"></a>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li role="presentation"><a href="#">Settings </a></li>
                                        <li role="presentation"><a href="#">Payments </a></li>
                                        <li role="presentation" class="active"><a href="#">Logout </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                <div class="card ">
                    <div class="card-heading text-center">
                        <h3 class="card-title">24/08/2023</h3></div>
                    <div class="card-body">
                        <button class="btn btn-success btn-xs float-right btn-redondo" type="button" data-toggle="modal" data-target="#modBack">23</button><span>Realizadas</span></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                <div class="card ">
                    <div class="card-heading text-center">
                        <h3 class="card-title">24/09/2023</h3></div>
                    <div class="card-body">
                        <button class="btn btn-success btn-xs float-right btn-redondo" type="button" data-toggle="modal" data-target="#modBack">3</button><span>Para Hoy</span></div>
						<button class="btn btn-default btn-redondo float-rigth" type="button" data-toggle="modal" data-target="#modPromesas">+ </button>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                <div class="card ">
                    <div class="card-heading text-center">
                        <h3 class="card-title">24/10/2023</h3></div>
                    <div class="card-body">
                        <button class="btn btn-success btn-xs float-right btn-redondo" type="button" data-toggle="modal" data-target="#modBack">0 </button><span>Próximas</span></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="card ">
                    <div class="card-heading">
                        <button class="btn btn-default btn-redondo float-rigth" type="button">+ </button>
                        <h3 class="card-title">Urgente </h3></div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><span>List Group Item 1</span></li>
                            <li class="list-group-item"><span>List Group Item 2</span></li>
                            <li class="list-group-item"><span>List Group Item 3</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="card ">
                    <div class="card-heading">
                        <h3 class="card-title">Resumen </h3></div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><span>List Group Item 1</span>
                                <button class="btn btn-success btn-xs float-right btn-redondo" type="button" data-toggle="modal" data-target="#modBack">0 </button>
                            </li>
                            <li class="list-group-item"><span>List Group Item 2</span>
                                <button class="btn btn-warning btn-xs float-right btn-redondo" type="button" data-toggle="modal" data-target="#modBack">0 </button>
                            </li>
                            <li class="list-group-item"><span>List Group Item 3</span>
                                <button class="btn btn-danger btn-xs float-right btn-redondo" type="button" data-toggle="modal" data-target="#modBack">0 </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="card ">
                    <div class="card-heading">
                        <button class="btn btn-default btn-redondo float-rigth" type="button">+ </button>
                        <h3 class="card-title">Necesario </h3></div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><span>List Group Item 1</span></li>
                            <li class="list-group-item"><span>List Group Item 2</span></li>
                            <li class="list-group-item"><span>List Group Item 3</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="card ">
                    <div class="card-heading">
                        <button class="btn btn-default btn-redondo float-rigth" type="button">+ </button>
                        <h3 class="card-title">Ideas </h3></div>
                    <div class="card-body">
                        <div class="jumbotron">
                            <h1>Heading text</h1>
                            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                            <p><a class="btn btn-default btn-redondo" role="button" href="#">+ </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <footer>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 footer-navigation">
                            <h3><a href="#">Company<span>logo </span></a></h3>
                            <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a href="#">Pricing</a><strong> · </strong><a href="#">About</a><strong> · </strong><a href="#">Faq</a><strong> · </strong><a href="#">Contact</a></p>
                            <p
                            class="company-name">Company Name © 2015 </p>
                        </div>
                        <div class="col-md-4 col-sm-6 footer-contacts">
                            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                                <p><span class="new-line-span">21 Revolution Street</span> Paris, France</p>
                            </div>
                            <div><i class="fa fa-phone footer-contacts-icon"></i>
                                <p class="footer-center-info email text-left"> +1 555 123456</p>
                            </div>
                            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                                <p> <a href="#" target="_blank">support@company.com</a></p>
                            </div>
                        </div>
                        <div class="clearfix visible-sm-block"></div>
                        <div class="col-md-4 footer-about">
                            <h4>About the company</h4>
                            <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                            </p>
                            <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
</div>