.MUI-Modal {
  position: absolute;
  margin-top: 20%;
  margin-left: 10%;  
  width: 80%;  
  background-color : white;
  border: 2px solid #000;    
}

.card-bgc
{
	background-color : deepskyblue;
}

.button-normal
{
	display: inline-block;
    padding: 10px 20px 10px 20px;    
    text-align: center;
    text-decoration: none;
    vertical-align: middle;    
    -moz-user-select: none;
    user-select: none;        
    background-color: steelblue;
    color: white;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer
	border-width:thin;
	text-shadow: 0px 1px 0px, 0 0 0px slategray, 0 0 0px;
}

.input-form
{
	box-sizing: border-box;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    font: inherit;
    line-height: inherit;
    width:100%;
    background-image: none;	
    border-radius: 2px 2px 2px 2px;
	border-width:1px;
	border-style:ridge;
}

h4 , h3 ,h5 ,h6 {
	color:indigo!important;
}
