<div id='modPromesas' class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header headprom">
           <h4 class="modal-title">
           Manten tus Promesas</h4>
         </div>
         <div class="modal-body">
         <div class="container">
         <div class="row">
         <div class="d-none">
          <input id="txtId" class="hidden">
         </div>
         </div>
         
         <div class="row">
          <div class="col-3">
           <label>Cuando</label>
           <input id="txtCuando" type="text"
            class="form-control">
           </input>
          </div>
          
          <div class="col-3">
           <label>Cuanto</label>
           <input id="txtCuanto" type="text"
            class="form-control">
           </input>
          
          </div>
         </div>
         
         <div class="row">
          <div class="col-md-6">
           <label>De que se trata</label>
          </div>
          <div class="col-md-6">
           <textarea id="txtQue" rows="2"
           class="form-control"></textarea>
          </div>
         </div>
         <br/>
         <div class="row">
       <div class="col-md-6">
        <label>Como</label>
       </div>
       <div class="col-md-6">
        <input id="txtComo" type="text"
         class="form-control">
        </input>
       </div>
      </div>
      <div class="row">
          <div class="col-md-6">
           <label>Donde</label>
          </div>
          <div class="col-md-6">
           <input id="txtDonde" type="text" class="form-control">
           </input>
          </div>
         </div>
         <div class="row">
          <div class="col-md-6">
           <label>Para Quien</label>
          </div>
          <div class="col-md-6">
           <input id="txtQuien" type="text" 
            class="form-control"></input>
          </div>
          </div>
         </div>
         <div class="row">
          <div class="col-md-6">
           <label>Prioridad</label>
          </div>
          <div class="col-md-6">
           <input id="txtPrioridad" type="text" 
            class="form-control"></input>
          </div>
          </div>
		  <div class="row">
          <div class="col-md-6">
           <label>Estado</label>
          </div>
          <div class="col-md-6">
           <input id="txtEstado" type="text" 
            class="form-control"></input>
          </div>
          </div>
         </div>
         </div>
         <div class="modal-footer">
           <button  type="button" 
            class="btn btn-default"
            data-dismiss="modal"
            >Cerrar
           </button>
           <button type="button" 
            id="btnGuardar" 
            class="btn btn-primary">
            Guardar
           </button>
          </div>
      </div>
 </div>
</div>
